@font-face {
    font-family: 'Cabourg OT';
    src: url('../fonts/cabourg-ot/Cabourg OT Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabourg OT';
    src: url('../fonts/cabourg-ot/Cabourg OT RegularOblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabourg OT';
    src: url('../fonts/cabourg-ot/Cabourg OT Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabourg OT';
    src: url('../fonts/cabourg-ot/Cabourg OT LightOblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabourg OT';
    src: url('../fonts/cabourg-ot/Cabourg OT Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabourg OT';
    src: url('../fonts/cabourg-ot/Cabourg OT BoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
